@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("../public/fonts/NotoSansKR-Regular.ttf");
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("../public/fonts/NotoSansKR-Bold.ttf");
}

@font-face {
  font-family: "NotoSansKR-ExtraLight";
  src: url("../public/fonts/NotoSansKR-ExtraLight.ttf");
}

{
  font-family: 'NotoSansKR-Bold', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing : border-box;
}